{% extends 'base.html' %}

{% block content %}
    <h1>About</h1>

    <p>Welcome to my To-Do List Application!</p>
    <p>This tool helps you stay organized by managing your tasks and to-dos efficiently.</p>
    <p>Key features of my application include:</p>
    <ul>
        <li>Create and manage tasks with details like name, duration, description, and deadline.</li>
        <li>View your tasks in an organized list format.</li>
        <li>Stay on top of your to-dos by setting deadlines and tracking their progress.</li>
    </ul>
    <p>I hope this application makes your life easier and helps you become more productive!</p>
{% endblock %}
